[package]
name = "paperclip-core"
version = "0.1.0"
authors = ["Ravi Shankar <wafflespeanut@gmail.com>"]
edition = "2018"
description = "Core types and traits for paperclip OpenAPI tooling library"
documentation = "https://paperclip.waffles.space/paperclip_core"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/wafflespeanut/paperclip"
repository = "https://github.com/wafflespeanut/paperclip"

[dependencies]
actix-web = { version = "1.0.4", optional = true }
actix-http = { version = "0.2.6", optional = true }
failure = "0.1"
futures = { version = "0.1", optional = true }
heck = { version = "0.3", optional = true }
lazy_static = "1.3"
log = "0.4"
paperclip-macros = { path = "../macros", version = "0.2.0" }
parking_lot = "0.9"
regex = "1.1"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
mime = { git = "https://github.com/hyperium/mime", features = ["serde1"] }

[features]
actix = ["default", "actix-http", "actix-web", "futures"]
default = ["v2", "codegen"]
v2 = ["paperclip-macros/v2"]
codegen = ["heck"]
