swagger: "2.0"
host: pets.com:8888
basePath: /api
definitions:
  Tag:
    properties:
      name:
        type: string
      id:
        type: integer
    type: object
  Pet:
    description: A pet is a person's best friend
    required:
    - id
    - name
    properties:
      id:
        type: integer
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
      name:
        type: string
      category:
        $ref: '#/definitions/Category'
      photoUrls:
        type: array
        items:
          type: string
    type: object
  Category:
    properties:
      name:
        type: string
      id:
        type: integer
        format: int64
    type: object
paths:
  /pets/{petId}:
    parameters:
    - name: petId
      in: path
      required: true
      type: integer
      description: ID of the pet.
    get:
      description: Find pet by ID
      operationId: getPetById
      responses:
        "200":
          schema:
            $ref: '#/definitions/Pet'
  /pets:
    get:
      description: Fetch list of pets
      operationId: listPets
      responses:
        "200":
          schema:
            type: array
            items:
              $ref: '#/definitions/Pet'
    post:
      description: Add a new pet to the store
      operationId: addPet
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Pet'
      responses:
        "200":
          schema:
            $ref: '#/definitions/Pet'
